.back{

        background-image: url('ecm.png');
        width: 100%;
        height: 900px;
        position: fixed;
        background-repeat: no-repeat;

   }


   .gitLabel{

    font-size: 12px;
    color: #656b6b;

   }

   .title{

      font-size: 26px;
      color: #636363;
      font-weight: bold;
      font-family: sans-serif;
      margin-left: 16px;

   }

   .link{

      font-size: 15px;
      color: #6e879c;
      font-weight: bold;
      font-family: sans-serif;
      margin-left: 16px;

   }

   .header{

    width: 100%;
    height: 50px;
    background-color: #efefef;
    margin-top: 0;
    padding: 4px;
    border-bottom: 3px red solid;

   }

    .footer{

      width: 100%;
      height: 20px;
      background-color: #757575;
      margin-top: 0;
      padding: 0;
      border-top: 3px #a2a4c5 solid;
      position: fixed;
      bottom: 0;


   }

   .logo{

      background-image: url(logo.png);
      background-repeat: none;      
      position: absolute;
      top: 0;
      left: 0;
      width: 158px;
      height: 60px;


   }

   .subtitle{

    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 16px;
    left: 45%;
    top: 20%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    width: 80%;
    height: 284px;
    line-height: 177px;

   }

   .fileJar{

    width: 370px !important;
    margin-left: 20px;

   }

   .fileLabel{

      background-color: #0040850f;
      font-family: monospace;
      padding: 10px;
      color: #767c82;
      font-weight: bold;
      border-radius: 4px;

   }


   .dragZone{

    border: 2px dashed #d0d0d0;
    width: 95%;
    height: 511px;
    font-size: 26px;
    font-weight: bold;
    color: #d4d4d4;
    padding-top: 16px;
    margin: 20px;
    position: relative;


   }